.header{
    margin-top: -7%;
    position: fixed;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main{
    margin-top: 7%;
}

.cardsLink{
    text-decoration: none;
    color: black;
}